<!DOCTYPE html>
<html>
<head>
  <title>Admin Songs</title>
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <%- include('./partials/navbar.ejs') %>
    <div class="homeDiv" style="width: 800px; margin: auto; text-align: center;">
      <h2>Every Song in the Database</h2>

      <hr>

      <ul style="display: flex; flex-wrap: wrap;">
        <% songs.forEach(song=> { %>
          <li style= "list-style: none;
                      margin:10px;">
                      
            <!--
            <strong>User ID:</strong>
            <%= song.userId %><br>-->
            <div class="card" style="min-width: 300px;
                                    background-color: #f5eccd;
                                    border-color: #8d775f;">
              <div class="card-body">
                <h6 class="card-title"><%= song.title %></h6>
              
                <p class="card-text"> <%= song.style %></p>
                
            </div>
          </div>
          </li>
          <% }) %>
      </ul>
    </div>
</body>

</html>
