<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <%- include('./partials/navbar.ejs') %>

  <% if (user && user.isAdmin) { %>
  <img src="media/dance4.jpg" class="background">
  <div class="container adminDiv">
  
    <div class="rotating-text-wrapper">
      <h2>Admin Page</h2>
      <h2><%= user.username %>!</h2>
    </div>

      
      
      <div class ="adminActionsDiv">
        <h4> Admin Actions: </h4>
        <p>As admin of ZinList, here are your admin priviledges: </p>
        <button class="btn btn-info" href="/admin/songs"><a class="noLink" href="/admin/songs">View All Entries</a></button>
        <button class="btn btn-danger" href="/all-users"><a class="noLink"href="/all-users">Delete Users</a></button>
        

      </div>
     
      
  </div>
  <% } else { %>
    <div class="adminAccessDenied">
      <p> Attention! You do not have the access rights to view this page.<br> Log in as Admin </p>
      <img src="\media\accessdenied.gif" alt="Access Denied" width="300" height="200">
    </div>
  <% } %>

</body>

</html>