<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    
    
        <div class="container" style="width: 800px;
        min-height: 500px;
        margin: auto;
        padding: 20px;
        border: 5px;
        text-align: center; ">
            
                <h2>Add a song to your playlist </h2>
                <div  style=" width: 300px; margin: auto;">
                <form action="/songs" method="post">
                    
                        <label for="title">Title:</label>
                        <input class="form-control" type="text" id="title" name="title" required>
                        <br>
                        <label for="style">Style:</label>
                        <input class="form-control" type="text" id="style" name="style" required>
                        <br>
                        <button class="btn btn-primary mb-3 myFormBTN" type="submit">Add to Playlist</button>
                
                </form>
                </div>
            
        </div>
        
</body>

</html>