<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    
    <% if (user && user.isAdmin) { %>
        <div class="adminAccessDenied">
            <p> As Admin, you really shouldn't be doing that.<br> Log in as a normal user instead. </p>
            <img src="\media\accessdenied.gif" alt="Access Denied" width="300" height="200">
        </div>
        <% } else { %>
        <div class="container polaroid">
            <div class="maincard">
                <h1>Add a song to your playlist </h1>
                <form class="row g-3" action="/songs" method="post">
                    <div class="col-auto">
                        <label for="title">Title:</label>
                        <input class="form-control" type="text" id="title" name="title" required>
                        <br>
                        <button class="btn btn-primary mb-3 myFormBTN" type="submit">Add to Playlist</button>
                    </div>

                    <div class="col-auto">
                        <label for="style">Style:</label>
                        <input class="form-control" type="text" id="style" name="style" required>
                        <br>
                    </div>

                </form>
            </div>
        </div>
        <% } %>
</body>

</html>