<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="background">
  <%- include('./partials/navbar.ejs') %>

    <div class="container text-center ">
      <div class="row">
        <div class="col-md-6 offset-md-3 homeDiv"></div>
        <% if (user) { %>
          <h1 class="test">Welcome <%= user.username %>
          </h1>
          <% } else { %>
            <h1>Welcome Stranger!</h1>
            <p>Not Much to do here for you unless you're registered.. Here's a random joke for you then.. </p>
            <% } %>
              <!--
  <% if (user) { %>
    <p>Hello, <%= user.username %>!</p>
    
    <a href="/songs">View Your Playlist! </a>
    <a href="/logout">Logout</a>
    <a href="/songs/create">Create New Song</a>
  <% } else { %>
    <a href="/login">Login</a> |
    <a href="/register">Register</a>
  <% } %>-->
      </div>
    </div>
    </div>
</body>

</html>