body {

    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    width: 100%;
  }

.background {
	opacity: 0.1;
	filter: alpha(opacity=50); 
	width: 100%;
	position: fixed;
    z-index: -1;
}
.homeDiv{
    width: 800px;
    min-height: 500px;
    margin: auto;
    padding: 20px;
    border: 5px;
    text-align: center;
}
.myFormBTN{
    margin-top: 30px;
    
}
.adminDiv{
    
    text-align: center;
    width: 800px;
    height: 500px;
    margin: auto;
    padding: 20px;
}

.adminActionsDiv{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    background-color: rgb(255, 172, 71);
    color: white;
    width: 600px;
    height:200px;
    padding: 40px;
    border-radius: 15px;

}
.ulEachUser{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.eachUser{
    margin: 10px;
    background-color: #f5eccd;
    border-color: #8d775f;
    min-width: 300px;
    
    border: 0.5px;
    border-style:solid;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
    text-align: center;
}
.eachUserBTN{
    margin: auto;
    
}


.adminAccessDenied{
    background-color: red;
    color: aliceblue;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    width: 600px;
    height:fit-content;
    padding: 40px;
}

.middleForm{
    margin: auto;
}

.typewriter {
    display: inline-block;
    overflow: hidden;
    animation: typing 4s steps(20, end);
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
div.polaroid {
	width: 250px;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
  }
  
  div.maincard {
	padding: 10px;
	background-color: ghostwhite;
  }

  div.polaroid-bg {
    background-color: aliceblue;
    text-align: end;
    padding: 20px;
    width: 450px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    }
    
    div.maincard {
    padding: 10px;
    background-color: ghostwhite;
    }

    .noLink{
        text-decoration: none;
        color: #fff;
    }
    a:hover{
        text-decoration: none;
        color: #fff;
    }

/*-----------Rotating Text Animation----------
https://codepen.io/codingyaar/pen/LYJQaBe*/

.rotating-text-wrapper {
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  .rotating-text-wrapper h2 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 20px;
    padding: 0.3em;
    color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    animation-duration: 4s;
    animation-iteration-count:infinite;
    opacity: 0;
  }
  .rotating-text-wrapper h2:nth-child(1) {
    background-color: #20b2aa;
    animation-name: rotating-text-1;
    border-radius: 15px;
  }
  @keyframes rotating-text-1 {
    
    0% {
      transform: translateY(200%);
    }
    33% {
      transform: translateY(100%);
      opacity: 1;
    }
    34% {
      opacity: 0;
    }
  }
  .rotating-text-wrapper h2:nth-child(2) {
    background-color:#EAD2AC;
    animation-name: rotating-text-2;
    border-radius: 15px;
    
  }
  @keyframes rotating-text-2 {
    33% {
      transform: translateY(100%);
      opacity: 0;
    }
    66% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      opacity: 1;
      animation-fill-mode: forwards;
    }
  }
