.background{
   color: green; 
}
.homeDiv{
    width: 800px;
    min-height: 500px;
    margin: auto;
    padding: 20px;
    border: 5px;
    background-color: bisque;
    text-align: center;
}
.myFormBTN{
    margin-top: 30px;
    
}
.adminDiv{
    background-color: rgb(220, 223, 223);
    text-align: center;
    width: 800px;
    height: 500px;
    margin: auto;
    padding: 20px;
}

.adminActionsDiv{
    margin: auto;
    margin-bottom: 20px;
    background-color: bisque;
    width: 600px;
    height:200px;
    padding: 40px;

}
.ulEachUser{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.eachUser{
    margin: 10px;
    background-color: rgb(230, 233, 236);
    min-width: 300px;
    height:85px;
    border: 0.5px;
    border-style:solid;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
    text-align: center;
}
.eachUserBTN{
    margin: auto;
    
}
.adminAccessDenied{
    background-color: red;
    color: aliceblue;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    width: 600px;
    height:fit-content;
    padding: 40px;
}

div.polaroid {
	width: 250px;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
  }
  
  div.maincard {
	padding: 10px;
	background-color: ghostwhite;
  }

  div.polaroid-bg {
    background-color: aliceblue;
    text-align: end;
    padding: 20px;
    width: 450px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    }
    
    div.maincard {
    padding: 10px;
    background-color: ghostwhite;
    }

